@font-face {
    font-family: 'default';
    src: url('../fonts/spranq_eco_sans_regular-webfont.woff2') format('woff2'),
         url('../fonts/spranq_eco_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    background:transparent !important;
    color:#000 !important;
    text-shadow:none !important;
    filter:none !important;
    -ms-filter:none !important;
    color: #000;
}

body {
    padding:0;
    line-height: 1.8em;
    font-family: 'default';
    font-size: 11pt;
    word-wrap: break-word;
    text-align: justify;
    text-rendering: geometricPrecision;
    /* text-rendering: optimizeLegibility; */
}

/* Não funciona no Phantomjs  */
@page :first {
  margin: 2cm;
}

 /* Não funciona no Phantomjs  */
@page {
    margin: 3cm 2cm 2cm 3cm;
}

nav, footer, video, audio, object, embed {
    display:none;
}

img {
    max-width: 100%;
}

.print {
    display:block;
}

.no-print {
    display:none;
}

p a {
    word-wrap: break-word;
    text-align: justify;
}

p {
    text-indent: 30px;
    word-wrap: break-word;
    text-align: justify;
    margin: 0;
    padding: 0;
    widows: 3;
    orphans: 3;
}

ul {
    /* margin: 0; */
    /* padding: 0; */
}

ol {
    /* margin: 0; */
    /* padding: 0; */
}

li{
    /* margin: 0; */
    /* padding: 0; */
}

h1 {
    /* margin: 0;
    padding: 0;
    border: 0; */

    font-size: 11pt;
}

h2 {
    /* margin: 0;
    padding: 0; */

    font-size: 11pt;
}

h3 {
    /* margin: 0;
    padding: 0; */

    font-size: 11pt;
}

.page-break {page-break-after: always;}

#content {
    display: table;
}

#pageFooter {
    display: table-footer-group;
}

#pageFooter:after {
    text-align: right;
    counter-increment: page;
    content: counter(page-1);
}

.titulo{
    line-height: 1.8em;
    font-size: 24px;
    text-align: center;
}

.numero-de-paginas  {
    position: relative;
    min-height: 150px;
}

.numero-de-paginas-conteudo {
    position: absolute;
    bottom: 15px;
    /* left: 0; */
}

td {
    text-align: center;
}

.dots {
    background:url('../img/dot.gif') repeat-x bottom  !important;
}
.summary-page {
    background-color: #FFFFFF  !important;
}

/* Solução criativa para simular bordas iguais na capa */
.capa{
    padding-right: 1cm;
}

div.quotation-block{
   text-align: justify;
   width: 70%;
   font-style: italic;
}

div.ilustracao{
    /* text-align: "center"; */
    padding: 50px 0 50px 0;
}